---
http_interactions:
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/&sites=06620000?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html
        xmlns="http://www.w3.org/1999/xhtml"><head><title>Error report</title><style
        type="text/css"><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP Status
        400 - no major-filter pairs supplied by user, server=[vaas01]</h1><hr/><p><b>type</b>
        Status report</p><p><b>message</b>no major-filter pairs supplied by user,
        server=[vaas01]</p><p><b>description</b>The request sent by the client was
        syntactically incorrect.</p><hr/><h3>Error Report</h3></body></html>'
  recorded_at: Wed, 10 Jul 2024 23:17:18 GMT
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/?format=json&sites=06620000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&sites=06620000","criteria":{"locationParam":"[ALL:06620000]","variableParam":"ALL","parameter":[]},"note":[{"value":"[ALL:06620000]","title":"filter:sites"},{"value":"[mode=LATEST,
        modifiedSince=null]","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2024-07-10T23:20:45.668Z","title":"requestDT"},{"value":"08d1cb30-3f13-11ef-b8fc-2cea7f58f5ca","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"vaas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"NORTH
        PLATTE RIVER NEAR NORTHGATE, CO","siteCode":[{"value":"06620000","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":40.93663889,"longitude":-106.3391944},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"10180001","name":"hucCd"},{"value":"08","name":"stateCd"},{"value":"08057","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00060","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807197,"default":true}],"variableName":"Streamflow,
        ft&#179;/s","variableDescription":"Discharge, cubic feet per second","valueType":"Derived
        Value","unit":{"unitCode":"ft3/s"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807197"},"values":[{"value":[{"value":"331","qualifiers":["P"],"dateTime":"2024-07-10T16:45:00.000-06:00"}],"qualifier":[{"qualifierCode":"P","qualifierDescription":"Provisional
        data subject to revision.","qualifierID":0,"network":"NWIS","vocabulary":"uv_rmk_cd"}],"qualityControlLevel":[],"method":[{"methodDescription":"","methodID":162590}],"source":[],"offset":[],"sample":[],"censorCode":[]}],"name":"USGS:06620000:00060:00000"},{"sourceInfo":{"siteName":"NORTH
        PLATTE RIVER NEAR NORTHGATE, CO","siteCode":[{"value":"06620000","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-07:00","zoneAbbreviation":"MST"},"daylightSavingsTimeZone":{"zoneOffset":"-06:00","zoneAbbreviation":"MDT"},"siteUsesDaylightSavingsTime":true},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":40.93663889,"longitude":-106.3391944},"localSiteXY":[]},"not[...]
[...]
